<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TMTControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <TMTControls.Properties.Settings>
      <setting name="PanelLabelBackColor" serializeAs="String">
        <value>CornflowerBlue</value>
      </setting>
      <setting name="PanelLabelForeColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="DataGridViewBackgroundColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="DataGridViewDefaultCellBackColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="DataGridViewDefaultCellForeColor" serializeAs="String">
        <value>ControlText</value>
      </setting>
      <setting name="DataGridViewDefaultCellSelectionBackColor" serializeAs="String">
        <value>Highlight</value>
      </setting>
      <setting name="DataGridViewDefaultCellSelectionForeColor" serializeAs="String">
        <value>HighlightText</value>
      </setting>
      <setting name="TileButtonBackColor" serializeAs="String">
        <value>DimGray</value>
      </setting>
      <setting name="TileButtonForeColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="LogInUserId" serializeAs="String">
        <value />
      </setting>
      <setting name="LogInPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="LDAPAuth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerURL" serializeAs="String">
        <value />
      </setting>
      <setting name="WebAPIName" serializeAs="String">
        <value />
      </setting>
      <setting name="LDAPServerURL" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseName" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseServerName" serializeAs="String">
        <value />
      </setting>
      <setting name="DatabaseServerPort" serializeAs="String">
        <value />
      </setting>
    </TMTControls.Properties.Settings>
  </userSettings>
</configuration>